.card {
  display: flex;
  flex-direction: column;
  height: 210px;
  width: 210px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
  box-shadow: 2px 2px 2px orange;
  border: 2px solid gray;
}

.card img {
  height: 80%;
  width: 80%;
}

.card p {
  font-size: 1.3rem;
}

.card:hover {
  background-image: linear-gradient(
    to top,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
}
